<div class="card card-default">
    <div class="content-heading">
        <h2>Example of ngx-datatable</h2>
    </div>
    <div class="card-body">

      <ngx-datatable
        class='bootstrap no-detail-row'
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]='rows'
        [count]="totalCount"
        [limit]="dataParams.page_size"
        >
          <ngx-datatable-column name="Title 1" prop="title_line1"></ngx-datatable-column>
          <ngx-datatable-column name="Title 2" prop="title_line2"></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
          <ngx-datatable-column name="Order No" prop="order_number"></ngx-datatable-column>
          <ngx-datatable-column name="Action" widht="600">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <div class="text-left">
                      <button>Edit</button>
                      <button>Delete</button>
                  </div>
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>



<div class="card card-default">
    <div class="content-heading">
        <h2>Example of ngx-datatable</h2>
    </div>
    <div class="card-body">

      <ngx-datatable
        class='material no-detail-row'
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]='rows'
        [count]="totalCount"
        [limit]="dataParams.page_size"
        >
          <ngx-datatable-column name="Title 1" prop="title_line1"></ngx-datatable-column>
          <ngx-datatable-column name="Title 2" prop="title_line2"></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
          <ngx-datatable-column name="Order No" prop="order_number"></ngx-datatable-column>
          <ngx-datatable-column name="Action" widht="600">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <div class="text-left">
                      <button>Edit</button>
                      <button>Delete</button>
                  </div>
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>



<div class="card card-default">
    <div class="content-heading">
        <h2>Example of ngx-datatable</h2>
    </div>
    <div class="card-body">

      <ngx-datatable
        class='dark no-detail-row'
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]='rows'
        [count]="totalCount"
        [limit]="dataParams.page_size"
        >
          <ngx-datatable-column name="Title 1" prop="title_line1"></ngx-datatable-column>
          <ngx-datatable-column name="Title 2" prop="title_line2"></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
          <ngx-datatable-column name="Order No" prop="order_number"></ngx-datatable-column>
          <ngx-datatable-column name="Action" widht="600">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <div class="text-left">
                      <button>Edit</button>
                      <button>Delete</button>
                  </div>
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>
